<mat-toolbar color="primary" class="header">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 (click)="navigateToContinguts()">Overwatch 2</h1>
  <div class="buttons">
    <button *ngIf="isAdmin" mat-icon-button (click)="afegirContingut()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateToMissatges()">
      <mat-icon [matBadge]="nMissatges" matBadgeColor="warn"
        >notifications</mat-icon
      >
    </button>
  </div>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <a routerLink="/continguts" mat-menu-item>
    <mat-icon>video_library</mat-icon>
    <span>Continguts</span>
  </a>
  <a routerLink="/categoriesFavorites" mat-menu-item>
    <mat-icon>category</mat-icon>
    <span>Categories favorites</span>
  </a>
  <a routerLink="/contractes" mat-menu-item>
    <mat-icon>description</mat-icon>
    <span>Contractes</span>
  </a>
  <a (click)="logout()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Tancar sessió</span>
  </a>
</mat-menu>
