<app-header></app-header>
<div class="container">
  <mat-card class="card">
    <mat-card-header class="header">
      <mat-card-title>{{ contingut.titol }}</mat-card-title>
      <mat-card-subtitle>{{ contingut.nomCategoria }}</mat-card-subtitle>
      <mat-card-actions align="end">
        <button mat-icon-button color="warn" (click)="manageFavClick()">
          <mat-icon>{{ contFav ? "favorite" : "favorite_border" }}</mat-icon>
        </button>
        <button mat-icon-button color="yellow" (click)="manageCatClick()">
          <mat-icon>{{ catFav ? "star" : "star_border" }}</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
      <iframe
        width="1280"
        height="720"
        [src]="contingut.url | safe"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </mat-card-content>
  </mat-card>
</div>
