.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 2vw;
}

.card:hover {
  cursor: pointer;
}

img {
  width: 100%;
}
