.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 2vw;
  height: fit-content;
}

.card span {
  text-overflow: ellipsis;
}

.card:hover {
  cursor: pointer;
}

.card img {
  width: 100%;
}
