<form>
  <h2>Nou contracte</h2>
  <mat-form-field appearance="fill">
    <mat-label>Data d'alta</mat-label>
    <input required matInput name="dataAlta" [(ngModel)]="dataAlta" type="date" />
  </mat-form-field>
  <mat-radio-group
    name="tipusContracte"
    class="radio-group"
    [(ngModel)]="tipusContracte"
  >
    <label class="label-tipus">Tipus</label>
    <mat-radio-button checked="mensual" [value]="'mensual'" class="radio">
      Mensual (15€)
    </mat-radio-button>
    <mat-radio-button [value]="'trimestral'" class="radio">
      Trimestral (40€)
    </mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button [mat-dialog-close]="{dataAlta, tipusContracte}" type="submit" color="primary">
    Crear contracte
  </button>
</form>
