<div class="register-container">
  <h2>Overwatch 2</h2>
  <form (ngSubmit)="registerUser()" #formRegistre="ngForm">
    <mat-form-field>
      <mat-label>Nom d'usuari</mat-label>
      <input
        matInput
        name="nom"
        placeholder="Ex. pepToni17"
        [(ngModel)]="nom"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contrassenya</mat-label>
      <input
        matInput
        name="contrassenya"
        type="password"
        [(ngModel)]="contrassenya"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Crear compte
    </button>
  </form>
  <span class="login"
    >Ja tens un compte? <a routerLink="/">Inicia sessió</a></span
  >
</div>
