<div class="register-container">
    <h2>Overwatch 2</h2>
    <form action="submit.php">
      <mat-form-field>
        <mat-label>Nom d'usuari</mat-label>
        <input matInput placeholder="Ex. pepToni17" name="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contrassenya</mat-label>
        <input matInput name="password" type="password" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Iniciar sessió
      </button>
    </form>
    <span class="login">Ja tens un compte? <a routerLink="/">Inicia sessió</a></span>
  </div>
  