<app-header></app-header>
<div class="container">
  <h1>Els teus contractes</h1>
  <mat-list class="list">
    <mat-list-item *ngIf="contractes.length === 0">
      <div mat-line>No tens contractes</div>
    </mat-list-item>
    <mat-list-item *ngFor="let contracte of contractes; let i = index">
      <mat-icon mat-list-icon>description</mat-icon>
      <div mat-line>{{ contracte.tipusContracte | titlecase }} ({{ preu[i] }}€)</div>
      <div mat-line>{{ contracte.dataAlta }}</div>
      <button mat-icon-button color="primary" (click)="veureFactures(contracte.idContracte, preu[i])">
        <mat-icon>receipt</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
